a {
    text-decoration: none;
}

body {
    background-color: #eee;
}

.clear {
    clear: both;
    line-height: 0;
    height: 0;
}

/* Page Layout */

#conmenubar {
    background-color: white;
}

.limenubar {
    list-style-type: none;
}

/* Menu Bar */

.leftbar {
    margin-top: 10px;
}

#leftrow {
    padding-top: 10px;
}

#leftrow>h1 {
    font-style: italic;
}

.lileftbar {
    padding-top: 15px;
    font-style: italic;
    font-weight: bold;
}

#conleftbar {
    background-color: thistle;
    width: 300px;
    height: 450px;
    float: left;
    margin-left: 300px;
}

/* end left bar*/

#ads {
    background-color: violet;
    width: 1350px;
    height: 450px;
}

#ads-con {
    background-color: white;
    height: 400px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 10px;
}

/* end ads */
